.main-box{
  .chest-box{
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    text-align: center;
    .circulation, .chest-txt, .bit-usd{
      background-color: #103565;
      width: fit-content;
      margin: 0 auto 1rem auto;
      padding: 0.2rem 1rem;
      border-radius: 10px;
    }
    .chest-img{
      animation: wiggle 2s linear infinite;
      width: fit-content;
      max-width: 100%;
      margin: auto;
    }

    .circulation{
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .chest-txt{
      width: 50%;
      @include media-breakpoint-down(sm){
        width: 100%;
      }
      p{
        color: #ffffff;
        margin: 0;
        padding: 0.5rem 0;
      }
    }
    .bit-usd{
      color: #ffffff;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      .bit-img{
        vertical-align: top;
      }
      span.b-number{
        padding-left: 0.5rem;
      }
    }
    .special-button{
      margin-right: 0 !important;
      .sp-button{
        width: fit-content;
        padding: 0.5rem 1rem;
        font-size: 2rem;
      }
    }
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
