body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../images/SplashArt.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #165db7;
}
.white-space{
  height: 25px;
  background-color: #1e7be5;
  opacity: 0.7;
}
.main-split{
  @include flexbox();
  .main-menu-left{
    width: 305px;
    .menu-clear{
      @include flexbox();
      @include justify-content(space-between);
    }
  }
  .main-list-right{
    width: 100%;
  }
}
