body {
  min-height: 100vh;
}

.bg {
  /* The image used */
  background-image: url('../images/SplashArt.png');

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #165db7;
}

.white-space {
  height: 25px;
  background-color: #1e7be5;
  opacity: 0.7;
}

.main-split {
  @include flexbox();

  .main-menu-left {
    position: relative;
    width: 100%;
    max-width: 280px;
    padding: 0 0 1.5rem 0.75rem;
    min-height: 100vh;
    z-index: 1;
    margin-right: 2.5rem;

    .menu-clear {
      @include flexbox();
      @include justify-content(space-between);
      padding-top: 1.5rem;
      font-size: 1.25rem;
      user-select: none;
      font-weight: bold;

      span {
        color: #ffffff;
        text-transform: uppercase;
        cursor: default;
      }

      button.clear-filter {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        background: transparent;
        font-weight: bold;
        padding: 0;
      }
    }

    .menu-tabs {
      ul.nav {
        @include justify-content(center);
        @include flex-wrap(unset);
        margin: 1.5rem 0;

        li.nav-item {
          border: 2px solid #90c0fa;
          width: 100%;

          button.nav-link {
            padding: 0.5rem;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 1rem;
            width: 100%;
            font-weight: bold;

            &.active {
              background-color: #022d5e;
            }
          }

          &:first-child {
            border-right: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            button.nav-link {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

          &:nth-child(2) {
            button.nav-link {
              padding: 0.5rem 1rem !important;
              border-radius: 0;
            }
          }

          &:last-child {
            border-left: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            button.nav-link {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }

      .tab-content {
        .general-body {
          text-align: center;

          .general-item {
            margin: 1.5rem 0.75rem 0 0.25rem;
          }

          .menu-header {
            color: #023875;
            background: #90c0fa;
            border-radius: 10px;
            padding: 0.2rem 0;
            margin: 1rem 3.5rem;
            cursor: default;
            user-select: none;
            font-weight: bold;
          }

          .general-rarity {
            .common-form-check {
              @include justify-content(space-between !important);

              .form-check {
                margin: 0.25rem;
              }

              .form-check-input {
                margin-top: 0.5rem;
                margin-left: 0.5rem;
              }
            }
          }

        }

        .common-form-check {
          @include flexbox();
          @include flex-wrap(wrap);
          @include justify-content(space-around);

          .form-check {
            padding-left: 0;
            margin-bottom: 1.25rem;
            cursor: pointer;
          }

          .form-check-label {
            cursor: pointer;
          }

          .form-check-input {
            cursor: pointer;
          }
        }

        .skill-body {
          .skill-list {
            margin: 1rem 0;

            .skill-item {
              margin: 1.5rem 0;
              position: relative;

              .skill-img {

              }

              .skill-name {
                position: absolute;
                top: 0.2rem;
                left: 2rem;
                color: #ffffff;
                text-transform: uppercase;
                padding: 0.3rem 1rem 0.3rem 1.25rem;
                border-radius: 0 0.75rem 0.75rem 0;
                z-index: -1;
                font-weight: bold;
              }

              &.active {
                .skill-name {
                  background-color: #0d4381;
                }
              }
            }
          }
        }

        .ability-body {
          .ability-list {
            .ability-item {
              margin: 0 1rem 1.25rem 1rem;

              .ability-icon {
                @include flexbox();
                @include justify-content(space-between);
                max-height: 25px;
                margin-bottom: 1rem;

                .ability-img-box {
                  max-width: 100%;
                  max-height: 100%;
                  margin: 0 1.5rem;
                }

                .ability-img {

                }

                .ability-space {
                  content: ' ';
                  width: 100%;
                  max-height: 100%;
                  background-color: #90c0fa;
                  border-radius: 0.6rem;
                }
              }
            }
          }


        }

        .common-range-slider {

          .slider-info {
            @include flexbox();
            @include justify-content(space-between);
            font-weight: bold;
          }

          /* This line can be removed it was just for display on CodePen: */
          .slider-labels {
            margin-top: 10px;
          }

          /* Functional styling;
           * These styles are required for noUiSlider to function.
           * You don't need to change these rules to apply your design.
           */
          .noUi-target, .noUi-target * {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -ms-touch-action: none;
            touch-action: none;
            -ms-user-select: none;
            -moz-user-select: none;
            user-select: none;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }

          .noUi-target {
            position: relative;
            direction: ltr;
          }

          .noUi-base {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            /* Fix 401 */
          }

          .noUi-origin {
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
          }

          .noUi-handle {
            position: relative;
            z-index: 1;
          }

          .noUi-stacking .noUi-handle {
            /* This class is applied to the lower origin when
               its values is > 50%. */
            z-index: 10;
          }

          .noUi-state-tap .noUi-origin {
            -webkit-transition: left 0.3s, top .3s;
            transition: left 0.3s, top .3s;
          }

          .noUi-state-drag * {
            cursor: inherit !important;
          }

          /* Painting and performance;
           * Browsers can paint handles in their own layer.
           */
          .noUi-base, .noUi-handle {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }

          /* Slider size and handle placement;
           */
          .noUi-horizontal {
            height: 4px;
          }

          /*            .noUi-horizontal .noUi-handle {
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        left: -7px;
                        top: -7px;
                        background-color: #ffffff;
                      }*/
          .noUi-horizontal .noUi-handle {
            width: 12px;
            height: 6px;
            left: -7px;
            top: -1px;
            background: #ffffff;
            position: relative;
            cursor: ew-resize;

            &:before {
              content: "";
              position: absolute;
              top: -4px;
              left: 0;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 4px solid #ffffff;
            }

            &:after {
              content: "";
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 4px solid #ffffff;
            }
          }

          /* Styling;
           */
          .noUi-background {
            background: #023875;
          }

          .noUi-connect {
            background: #ffffff;
            -webkit-transition: background 450ms;
            transition: background 450ms;
          }

          .noUi-origin {
            border-radius: 2px;
          }

          .noUi-target {
            border-radius: 2px;
            margin: 0 0.4rem;
          }

          .noUi-target.noUi-connect {
          }

          /* Handles and cursors;
           */
          .noUi-draggable {
            cursor: w-resize;
          }

          .noUi-vertical .noUi-draggable {
            cursor: n-resize;
          }

          .noUi-handle {
            cursor: default;
            -webkit-box-sizing: content-box !important;
            -moz-box-sizing: content-box !important;
            box-sizing: content-box !important;
          }

          .noUi-handle:active {
            left: -7px;
            top: -1px;
          }

          /* Disabled state;
           */
          [disabled].noUi-connect, [disabled] .noUi-connect {
            background: #B8B8B8;
          }

          [disabled].noUi-origin, [disabled] .noUi-handle {
            cursor: not-allowed;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -65px;
      bottom: 0;
      right: 0;
      left: -12px;
      width: 330px;
      z-index: -1;
      box-shadow: inset -2px 0 25px -1px rgb(0 0 0 / 20%);
    }
  }

  .main-list-right {
    width: 100%;
    margin-top: 1rem;
    margin-right: 4rem;

    .list-sort {
      @include flexbox();
      @include justify-content(flex-end);
      margin-bottom: 1rem;

      .sort-box {
        button {
          text-transform: uppercase;
          background-color: #022d5e;
          color: #ffffff;
          border-radius: 10px;

          &:focus {
            box-shadow: none;
          }

          &.btn-txt {
            padding: 0.375rem 7rem 0.375rem 0.5rem;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }

          &.btn-drop {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
        }
      }

    }

    .list-card {
      @include media-breakpoint-down(xxl) {
        .list-monster-row{
          @include justify-content(flex-start !important);
        }
        .list-monster-col{
          margin:  0 2rem 2rem 1rem !important;
        }
      }
      .list-monster-row {
        @include flexbox();
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        margin-left: 4rem;
      }

      .list-monster-col {
        margin: 0 0 2rem 2rem;
        color: transparent;
        &:hover{
          color: transparent;
        }
      }

      .monster-img-box {
        position: relative;
        margin-bottom: 2px;
        .monster-lv {
          user-select: none;
          position: absolute;
          left: 54%;
          top: 96%;
          background-color: #022d5e;
          transform: translate(-50%, -50%);
          width: 65%;
          height: 10%;
          font-size: 1.2rem;
          font-weight: bold;
          border-radius: 1.5rem;
          border: 3px solid #000000;
          color: #ffff;
          text-align: center;
          padding: 0 0;
        }
      }
  }
}
}

.price-box {
  @include flexbox();
  position: relative;
  background-color: #014077;
  width: 80%;
  margin: auto;
  border: 3px solid #000000;
  border-radius: 1rem;
  user-select: none;

  .price {
    background-color: #172a52;
    padding: 0 2.5px 0 5px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 40px;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 44px solid #172a52;
      border-right: 20px solid transparent;
    }
  }

  span.price-number {
    margin-left: 1.5rem;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: bold;
  }
}

