.main-inventory {
  .inventory-body {
    margin-top: 2rem;
  }

  .left-inventory {
    @include media-breakpoint-up(xl) {
      margin-left: 2rem;
    }

    .inventory-menu {
      background-color: #1245849e;
      border-radius: 5px;
      .nav{
        @include flex-wrap(nowrap);
      }

      .inventory-menu-item {
        margin: 10px 1rem 5px 1rem;
        position: relative;

        .menu-name {
          font-size: 1.6rem;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          padding: 0 1rem;
          @include media-breakpoint-down(xxl){
            font-size: 1.2rem;
          }

          &.active {
            &:before {
              position: absolute;
              bottom: -5px;
              content: '';
              height: 0;
              left: 0;
              width: 100%;
              border-bottom: 10px solid #02cce8;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              @include media-breakpoint-down(sm) {
                left: -5px;
                bottom: 12px;
                width: 100%;
                border-top: 8px solid transparent;
                border-left: 15px solid #02cce8;
                border-bottom: 8px solid transparent;
              }
            }
          }
        }
      }
    }

    .inventory-left-body {
      .inventory-chest-img {
        margin: 0 auto 2rem auto;

        .chest-img {
          width: 100%;
        }
      }

      .button-detail {
        text-align: center;
        margin-bottom: 1rem;
        .btn-detail {
          color: #ffffff;
          font-size: 1.6rem;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #103565;
          border-radius: 10px;
          padding: 0.2rem 1.5rem;
          position: relative;

          &:before {
            position: absolute;
            right: -30px;
            top: -1px;
            content: url(../images/inventory/btn-arrow.png);
          }
        }
      }

      .not-found {
        text-align: center;
        margin: 2rem 0;

        span {
          font-size: 1.6rem;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
}
