.nav-custom{
  .nav-item{
    .nav-link{
      font-size: 2rem;
    }
  }
}

.main-detail{
  margin-top: 3rem;
  .row{
    @include justify-content(space-evenly)
  }
  .img-detail{
    img{
      width: 100%;
    }
  }
  .price-box{
    width: 70%;
    margin: 0 auto 3rem auto;
    .price{
      &:after{
        left: 65px;
        border-top: 75px solid #172a52;
        border-right: 30px solid transparent;
      }
    }
    span.price-number{
      margin-left: 2.25rem;
      font-size: 2.75rem;
    }
  }
  .special-button{
    width: 60%;
    margin: auto;
  }
  .monster-info-list{
    .m-info{
      background-color: #103565;
      border-radius: 10px;
      padding: 1rem 2rem;

      .info-txt{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.2rem;
        .info-img{
          margin-left: 1rem;
        }
      }
    }
  }
}
.ability-box {
  @include flexbox();
  position: relative;
  background-color: #014077;
  width: 80%;
  margin: auto;
  border: 3px solid #000000;
  border-radius: 1rem;
  user-select: none;

  .ability {
    background-color: #172a52;
    padding: 0 2.5px 0 5px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 40px;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 44px solid #172a52;
      border-right: 20px solid transparent;
    }
  }

  span.ability-number {
    margin-left: 1.5rem;
    color: #ffffff;
    font-size: 1.75rem;
  }
}
