/* ==========================================================================
Header
========================================================================== */
.header {
  border-bottom: 0.3rem solid;
}

@include media-breakpoint-down(xl) {
  .box-header{
    @include flex-direction(column);
    @include justify-content(center !important);
    .header-logo{
      order: 1;
      align-self: center;
    }
    .nav-left{
      order: 2;
      align-self: center;
    }
    .nav-right{
      order: 3;
      align-self: center;
    }
  }
}

.box-header {
  @include flexbox();
  @include justify-content(space-between);
  padding: 0 1rem 0 1rem;
  .header-logo{
    margin: 0.25rem 0 0.5rem 0;
  }
  .nav-left {
    @include flexbox();
    align-self: center;
    flex-grow: 1;
    flex-basis: 0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li{
      padding: 1.8rem 1rem;
      &.active{

        border-radius: 10px;
        -webkit-box-shadow: inset 0px 0px 50px 8px rgb(0 0 0 / 30%);
        -moz-box-shadow: inset 0px 0px 50px 8px rgb(0 0 0 / 30%);
        box-shadow: inset 0px 0px 50px 8px rgb(0 0 0 / 30%)
      }
    }
    .nav-link {
      color: #ffffff;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .nav-right {
    @include flexbox();
    @include justify-content(flex-end);
    align-self: center;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    .staking{
      color: #ffffff;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 1rem 1rem;
      text-decoration: none;
      font-weight: bold;
    }
    .special-button {
      margin: 0 1rem;

      .sp-button {
        margin-bottom: 0;
      }
    }
    .dropdown{
      padding: 1rem 1rem;
      button:focus{
        box-shadow: none;
      }
      .dropdown-menu{
        background-color: #1767bd;
        border: none;
        li{
          a{
            font-size: 0.8rem;
            color: #ffffff;
            font-weight: bold;
            &:hover{
              background-color: #103565;
            }
          }
        }
      }
      button{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}

.box-header-mobile{
  display: none;
}

@include media-breakpoint-down(md) {
  .box-header{
    display: none !important;
  }
  .box-header-mobile{
    @include flexbox();
    @include justify-content(space-between);
    padding: 0.5rem;
    align-items: center;
    .special-button{
      margin: 0;
      .sp-button{
        margin: 0;
        padding: 5px 15px;
      }
    }
  }
}

