/* ==========================================================================
Header
========================================================================== */
a.navbar-brand {
  @include flexbox();
  @include align-items(end);
}

a.navbar-brand span {
  margin-left: 1.2rem;
  margin-bottom: 0.4rem;
  font-size: 2.5rem;
  font-weight: bold;
}


/* CSS */
.cw-button {
  background-color: #e97500;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #11478c;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 0.8883rem;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.cw-button:after {
  background-clip: padding-box;
  background-color: #ffdc30;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.cw-button:focus {
  user-select: auto;
}

.cw-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.cw-button:disabled {
  cursor: auto;
}
