.list-monster-row {
  @include make-row();
  margin: 0 0 0 3rem;

  .list-monster-col {
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up(xxl) {
      @include make-col(1, 5);
    }
    @include media-breakpoint-down(xxl) {
      @include make-col(1, 4);
    }
    @include media-breakpoint-down(xl) {
      @include make-col(1, 2);
    }
    @include media-breakpoint-down(lg) {
      @include make-col(1, 2);
    }
  }
}

.list-item-row {
  @include make-row();
  margin: 0 0 0 3rem;

  .list-item-col {
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up(xxl) {
      @include make-col(1, 5);
    }
    @include media-breakpoint-down(xxl) {
      @include make-col(1, 4);
    }
    @include media-breakpoint-down(xl) {
      @include make-col(1, 2);
    }
    @include media-breakpoint-down(lg) {
      @include make-col(1, 2);
    }
  }
}
